<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel='stylesheet' href='/css/fullcalendar.css' />
  <script src='/js/jquery.min.js'></script>
  <script src='/js/moment.min.js'></script>
  <script src='/js/fullcalendar.js'></script>
  script.
    $(document).ready(function() {
      $('#calendar').fullCalendar({
      })
    });
</head>

<div class="theme-showcase">
  <div class="page-header">
    <h1>What kind of a studier are you?</h1>
  </div>
  <table class = 'table'>
    <tr>
      <th align=left><div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">When do you study?</h3>
        </div>
        <div class="panel-body">
          <button type="button" class="btn btn-warning">9-5</button>
          <button type="button" class="btn btn-warning">Early Bird</button>
          <button type="button" class="btn btn-warning">Night Owl</button>
        </div>
      </th>
    </tr>
    <tr>
      <th align=left><div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Do you want to study on exam days?</h3>
        </div>
        <div class="panel-body">
          <button type="button" class="btn btn-warning">Yes</button>
          <button type="button" class="btn btn-warning">No</button>
        </div>
      </th>
    </tr>
    <tr>
      <th align=left><div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">How much time do you spend studying every day?</h3>
        </div>
      <div class="panel-body">
        <div class="input-group margin-bottom-sm">
          <input class="form-control" type="text" placeholder="8 hours">
        </div>
      </div>
      </th>
    </tr>
    <tr>
      <th align=left><div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">How much time do you spend sleeping every day?</h3>
        </div>
        <div class="panel-body">
          <div class="input-group margin-bottom-sm">
            <input class="form-control" type="text" placeholder="8 hours">
          </div>
        </div>
      </th>
    </tr>
    <tr>
      <th align=left><div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">How long can you study for before you need a break?</h3>
        </div>
        <div class="panel-body">
          <div class="input-group margin-bottom-sm">
            <input class="form-control" type="text" placeholder="2 hours">
          </div>
        </div>
      </th>
    </tr>
    <tr>
      <th align=left><div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">How long will your study breaks be?</h3>
        </div>
        <div class="panel-body">
          <div class="input-group margin-bottom-sm">
             <input class="form-control" type="text" placeholder="15 minutes">
          </div>
        </div>
        </th>
      </tr>
      <tr>
        <th align=left><div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">How long will your meal breaks be?</h3>
          </div>
          <div class="panel-body">
            <div class="input-group margin-bottom-sm">
              <input class="form-control" type="text" placeholder="45 minutes">
            </div>
          </div>
        </th>
      </tr>
      <tr>
        <th align=left><div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Select the days that you will study.</h3>
          </div>
          <div class="panel-body">
            <div id='calendar'></div>
          </div>
      </tr>
  </table>
</div>
